.App {
  height: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App ul {  
  margin-left: 170px;
}

.App ul li {
  list-style: none;
  display: flex;
  height: 30px;
  width: 930px;
  border: 1px solid lightgray;
  background-color: #ceede9;
}

.App ul .li-completed {
  background-color: white;
}

.App ul li button {
  margin-right: 2px;
}

.info {
  position: relative;
  left: 10px;
  margin-top: 3px;
}

.task {
  text-align: left;
  width: 600px;
  margin-top: 3px;
  padding-left: 20px;
}

.task-type {
  font-size: 20px;
  width: 1000px;
  margin: 0 0 30px;
  color: #214e96;
}

.task-type-completed {
  color: #0ddbd0;
}

#title {
  text-align: center;
  font-size: 30px;
  background-color: lightgray;
  width: 925px;
  margin: 50px auto 20px;
  color: #214e96;
}

#form {
  text-align: center;
}

#form input {
  width: 800px;
  height: 40px;
}

#button-wrap {
  background-color: lightgray;
  display: inline-block;
}

#button-wrap button {
  margin : 2px 7px 2px 7px;
  padding: 0 10px 0 10px;
  height: 40px;
  width: auto;
}

.btn {
  background-color: #214e96;
  color: white;
  border:none;
  border-radius: 10%;
}

.btn-delete {
  background-color: #d80202;
}

.btn-complete {
  background-color: #309621;
}

.task-num {
  text-align: center;
  display: inline-block;
  width: 26px;
  height: 20px;
  background-color: #214e96;
  border-radius: 50%;
  color:white;
  font-size: 13px;
}

.task-num-completed {
  background-color: #0ddbd0;
}